<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WHALE MINE</title>
    <meta charset="UTF-8">
    <!--引入CSS-->
    <link rel="stylesheet" href="../../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" >
    <div class="layui-header" th:fragment="site-header">
        <div class="layui-logo">WHALE MINE</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="/admin/password.html" th:text="${session.user.name}">
                </a>
            </li>
            <li class="layui-nav-item"><a href="/logout">退出</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black" th:fragment="site-bar">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item" th:class="${#strings.contains(activeURI,'user')?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                    <a href="javascript:;">用户管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/userlist" th:style="${activeURI == 'userlist'?'background-color:#009688;color: white;':''}">用户列表</a></dd>
                        <dd><a href="/admin/useradd.html" th:style="${activeURI == 'useradd'?'background-color:#009688;color: white;':''}">添加用户</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed" th:class="${#strings.contains(activeURI,'task')?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                    <a href="javascript:;">任务审核</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/taskPage?state=0" th:style="${activeURI == 'task0'?'background-color:#009688;color: white;':''}">待审核</a></dd>
                        <dd><a href="/admin/taskPage?state=1" th:style="${activeURI == 'task1'?'background-color:#009688;color: white;':''}">上线中</a></dd>
                        <dd><a href="/admin/taskPage?state=-1" th:style="${activeURI == 'task-1'?'background-color:#009688;color: white;':''}">已下线</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" th:class="${#strings.contains(activeURI,'goods')?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                    <a href="javascript:;">商品审核</a>
                    <dl class="layui-nav-child">
                        <dd><a href="/admin/goodsPage?state=0" th:style="${activeURI == 'goods0'?'background-color:#009688;color: white;':''}">待审核</a></dd>
                        <dd><a href="/admin/goodsPage?state=1" th:style="${activeURI == 'goods1'?'background-color:#009688;color: white;':''}">上架中</a></dd>
                        <dd><a href="/admin/goodsPage?state=-1" th:style="${activeURI == 'goods-1'?'background-color:#009688;color: white;':''}">已下架</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" th:class="${#strings.contains(activeURI,'notice')?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                    <a href="javascript:;">公告</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" th:style="${activeURI == 'noticepublish'?'background-color:#009688;color: white;':''}">发布公告</a></dd>
                        <dd><a href="javascript:;" th:style="${activeURI == 'noticelist'?'background-color:#009688;color: white;':''}">管理公告</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" th:class="${#strings.contains(activeURI,'password')?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                    <a href="/admin/password.html">修改密码</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-footer" th:fragment="site-footer">
        <!-- 底部固定区域 -->
        © Copyright - Whale Mine
    </div>
</div>
</body>
<!--引入JS-->
<script src="../../static/layui/layui.js" th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form','element','jquery','layer'],function () {
        var form = layui.form;
        var element = layui.element;
        var $ = layui.jquery;
        var layer = layui.layer;
    });
</script>
</html>
