<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.spring.mapper.GoodsMapper">
    <select id="getHomepageGoodsInfo" resultType="io.spring.bean.BriefGoods">
        SELECT
            t_user.name name,
            t_goods.id id,
            t_goods.title title,
            t_goods.price price,
            t_img_goods.path pic_path,
            t_img_goods.NAME pic_name
        FROM
            t_user,
            t_goods,
            t_img_goods
        WHERE
            t_goods.id_user = t_user.id
            AND t_goods.id = t_img_goods.id_goods
            AND t_goods.state = 1
            AND t_img_goods.NAME LIKE 'timg%'
        ORDER BY
            time_create DESC
            LIMIT 8
	</select>

    <select id="getGoodsByType" parameterType="String" resultType="io.spring.bean.SecGoods">
       SELECT
            t_goods.id id,
            t_goods.price price,
            t_goods.title title,
            t_goods.type field01,
            t_goods.`describe` field02,
            t_img_goods.NAME pic_name,
            t_img_goods.path pic_path
        FROM
            t_goods,
            t_img_goods
        WHERE
            t_goods.type = '电子产品'
            AND t_goods.id = t_img_goods.id_goods
            AND t_goods.state = 1
            AND t_img_goods.NAME LIKE 'timg%'
        ORDER BY
            time_create DESC
            LIMIT 8
    </select>
    
    <select id="getSpecGoods" resultType="io.spring.bean.SecGoods">
        SELECT
            t_goods.id id,
            t_goods.price price,
            t_goods.title title,
            t_user.NAME field01,
            t_user.icon field02,
            t_img_goods.NAME pic_name,
            t_img_goods.path pic_path
        FROM
            t_user,
            t_goods,
            t_img_goods
        WHERE
            t_goods.id_user = t_user.id
            AND t_goods.id = t_img_goods.id_goods
            AND t_goods.state = 1
            AND t_img_goods.NAME LIKE 'timg%'
        ORDER BY
            time_create DESC
            LIMIT 8
    </select>
    <update id="updateState" parameterType="java.util.Map">
        update t_goods set state=#{state} where id = #{id}
    </update>
    <select id="getAllByState"  parameterType="int" resultType="io.spring.bean.Goods">
        select * from t_goods where state=#{state}
    </select>

    <insert id="createRecord"  parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_record_transaction(id_goods,id_purchaser,time_create) VALUES(#{id_goods},#{id_purchaser},#{time_create})
    </insert>
    <update id="updateRecordPaymentStatus" parameterType="java.util.Map">
        UPDATE t_record_transaction SET state = 1,trade_no=#{trade_no} WHERE id=#{id}
    </update>
</mapper>