<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.spring.mapper.TaskMapper">

    <select id="getHomepageTaskInfo" resultType="io.spring.bean.BriefTask">
        SELECT
            t_user.name name,
            t_user.icon icon,
            t_task.id id,
            t_task.title title,
            t_task.type type
        FROM
            t_user,
            t_task
        WHERE
            t_task.id_user = t_user.id
            AND t_task.state = 1
        ORDER BY
            time_create DESC
            LIMIT 10;
    </select>
    <insert id="publishTask" parameterType="io.spring.bean.Task">
        INSERT INTO t_task(id_user,title,type,quota,`describe`,contact,time_create) VALUES (#{id_user},#{title},#{type},#{quota},#{describe},#{contact},#{time_create})
    </insert>
    <update id="updateState" parameterType="java.util.Map">
        update t_task set state=#{state} where id = #{id}
    </update>
    <select id="getAllByState" parameterType="int" resultType="io.spring.bean.Task">
        select * from t_task where state=#{state}
    </select>
</mapper>