<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.spring.mapper.UserMapper">
<!-- List<User> getAll();

    void insertUser(User user);-->

    <select id="getAll" resultType="io.spring.bean.User">
        select * from t_user
    </select>

    <insert id="insertUser">
        insert into t_user(name, password, email) values(#{name}, #{password}, #{email})
    </insert>
    <insert id="addUser" parameterType="io.spring.bean.User">
        insert into t_user(name, password, authority) values(#{name}, #{password}, #{authority})
    </insert>
    <select id="getUser" resultType="io.spring.bean.User">
        select * from t_user where name=#{name}
    </select>

    <select id="updateUser">
        update t_user set password=#{password},email=#{email} where name=#{name}
    </select>
    <update id="updateState" parameterType="java.util.Map">
        update t_user set state=#{state} where id=#{id}
    </update>
    <update id="updatePassword" parameterType="java.util.Map">
        update t_user set password = #{password} where id = #{id}
    </update>
</mapper>