@media(max-width:900px){
	
}
/* 头部菜单栏 */
.headmenu{
	margin: 0px;
	height: 55px;
	width: 100%;
}
.head{
	float: left;
	height:50px;
	width: 100%;
	color: #1A1A1A;
	font-size: 14px;
}
.head ul{
	list-style: none;
	padding: 0px;
}
.head li{
	float: left;
	text-align: center;
	width:11%;
	margin-top: 14px;
}
.head li:hover{
	color: #0A8494;
}
.head li:visited{
	color: #1A1A1A;
}
.li-1{
	color: #5E5E5E;
}
.li-1:hover{
	color: #5E5E5E;
}
.searchbar{
	float: left;
	margin-top: 0px;
	padding-top: 0px;
	margin-top: 0px;
}
.searchbar input{
	width: 570px;
	height: 36px;
	border: 1px solid #737373;
	margin-left: 4%;
	margin-top: 7px;
	padding-left: 5px;
	outline: none;
}
.searchbar input:active{
	border: 2px solid #333333;
	outline: none;
}
.searchbar input:hover{
	border: 2px solid #333333;
	outline: none;
}
/* 头部二级菜单 */
.head ul li:hover ul{
	position: relative;
	display: block;
}
.submenu{
	position: relative;
	z-index: 1;
}
.submenu ul{
	position: absolute;
	display: none;
	text-align: center;
	background-color: #EEEEEE;
	margin-top: 16px;
}
.submenu ul li{
	float: none;
	background-color: #FAFAFA;
	min-width: 90px;
	/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
	text-align: center;
	display: block;
	margin-top: 0px;
}
.submenu ul li a{
	color: #444444;
	padding: 5px 3px;
	text-decoration: none;
	display: block;
}
.submenu ul:hover{
	display: block;
	position: absolute;
}
.submenu ul li a:hover{
	background-color: gainsboro;
	color: #262626;
}

/* 头部 */
.header{
	width: 100%;
	height: 300px;
}
.header-bac{
	float: left;
	height: 320px;
	width: 100%;
	background-color: #81AAD9;
}
.header-bac img{
	width: 55%;
	height: 320px;
	margin-left: 2%;
	float: left;
}
.header-bac-card{
	float: left;
	width: 305px;
	height: 205px;
	margin-left: 11%;
	margin-top: 60px;
	background-color: #FAFAFA;
	border-radius: 10px;
	text-align: center;
}
.header-bac-card img{
	width: 55px;
	height:55px;
	border-radius: 50%;
	margin-top:15px;
	margin-left: 40%;
	float: left;
}
.header-bac-card_username{
	font-size: 15px;
	color: #333333;
	margin-top: 80px;
	font-weight: 600;
	text-align: center;
}
.header-bac-card ul{
	margin-top:-6px;
	margin-left: 10%;
	float: left;
	width: 60px;
	height: 100px;
	text-align: center;
}
.header-bac-card li{
	font-size: 15px;
	color: #262626;
	font-weight: 600;
	margin-top: 4px;
}
.header-bac-card li img{
	margin-left: 37%;
	margin-bottom: 6px;
	width: 27px;
	height: 27px;
}
.header-bac-card-button{
	float: left;
	font-size: 16px;
	margin-top: 60px;
	width: 100%;
}
.header-bac-card-button-login{
	width: 115px;
	height: 32px;
	background-color: white;
	border: 1px solid #81AAD9;
}
.header-bac-card-button-register{
	width: 115px;
	height: 32px;
	margin-left: 8px;
	background-color: #81AAD9;
	border: 1px solid #81AAD9;
}
/* 分割 */
.devede{
	height: 200px;
	width: 75%;
	margin: auto;
	margin-top: 80px;
	background: url(../img/wm-1-2.png) no-repeat center 0;
	/* border: 1px solid #DCDCDC; */
	margin-bottom: 25px;
}
.devede span{
	font-size: 25px;
	color:#1A1A1A;
	float: left;
	margin: 5px;
	margin-top: 140px;
	letter-spacing: 3px;
}
.devede p{
	font-size: 25px;
	color:#1A1A1A;
	float: left;
	margin: 5px;
	margin-top: 140px;
	letter-spacing: 3px;
}
.devede a span:hover{
	color:#526DCF;
	text-decoration: none;
}
/* 推荐 */
.one{
	margin-top: 55px;
	height:auto;
	width: 100%;
	margin: auto;
}
.one-head{
	height: auto;
	width: 75%;
	margin: auto;
	background-color: #FAFAFA;
}
.one-head-box{
	padding: 0px;
	height:360px;
	background-color: #FAFAFA;
}
.one-head-box-img{
	margin-right: 2%;
	width:18%;
	height: auto;
	float: left;
	margin-top: 10px;
}
.one-head-box-img img{
	float: left;
	padding: auto;
	width: 270px;
}
.one-head-box-msg{
	margin-right: 2%;
	margin-top: 10px;
	width:18%;
	height: 347px;
	float: left;
	background-color: white;
}
.one-head-box-msg img{
	float: left;
	padding: auto;
	width: 270px;
	max-height: 270px;
	overflow: hidden;
}
.one-head-box-msg-intro{
	clear: both;
	color: #262626;
	width: 270px;
	height: 30px;
}
.one-head-box-msg p{
	text-align: center;
	font-size: 15px;
	padding-top: 8px;
}
.one-head-box-msg p:hover{
	text-decoration: underline;
}
.one-head-box-msg-price{
	clear: all;
	width: 270px;
	height: 30px;
	background-color: #F94E3C;
	text-align: center;
	margin-top: 16px;
}
.one-head-box-msg-price p{
	text-align: center;
	font-size: 15px;
	color: #EEEEEE;
	padding-top: 6px;
}
.one-head-box-msg-price p:hover{
	text-decoration: none;
}
/* 图片 */
.pic{
	width: 75%;
	margin: auto;
	margin-top: 60px;
	background-color: #E1F0F7;
	/* border: 1px solid #DCDCDC; */
	margin-bottom: 25px;
}
/* 底部 */
.footer{
	margin-top: 90px;
	width: 100%;
	height: 250px;
	background-color: #F2F2F2;
}
.footer_outer{
	margin:20px auto;
	width: 1500px;
	background-color: #F2F2F2;
}
.footer h3{
	color: #444444;
}
.footer_outer_list{
	width: 16.7%;
	float: left;
	height: auto;
	margin: 15px 15px;
}
.footer_outer_list p{
	margin-top: 15px;
	font-size: 12px;
	color: #5E5E5E;
	letter-spacing: 1px;
}
.footer_outer_list p:hover{
	color: #262626;
}
.footer_outer_list img{
	height: 100px;
	width: 100px;
	margin-top: 15px;
}
