*{margin:0;padding:0;}
body {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:"微软雅黑";
}
.scrollpic {
	width: 75%;
	margin:auto;
	margin-top: 75px;
	margin-bottom: 75px;
}
#myscroll {
	display: block;
	width: 100%;
	position: relative;
	height: 240px;
	overflow: hidden;
}
#myscroll #myscrollbox {
	display: block;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	width: 1000000px;
}
#myscroll ul {
	display: block;
	float: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#myscroll ul li {
	display: block;
	float: left;
	padding: 0;
	width:290px;
}
#myscroll ul li a {
	display: block;
	float: left;
	width: 260px;
	padding: 0;
	position: relative;
	height: 240px;
	color: #333;
}
#myscroll a .intro {
	position: absolute;
	left: 0;
	z-index: 10;
	/* background-color: #618EC9; */
	/* background-color: #6CA6FD; */
	/* background-color: #89AFDB; */
	background-color: #EEEEEE;
	width: 260px;
	height: 240px;
	color: #FFFFFF;
	/* -moz-opacity: 0.7;
	-khtml-opacity: 0.7; */
	opacity: 0.95;
	text-align: center;
	color: #1A1A1A;
}
#myscroll a .intro h5 {
	padding: 0;
	margin: 0;
	font-size: 18px;
	height: 40px;
	width: 260px;
	line-height: 30px;
	border-bottom: 1px solid #347fdc;
	font-weight:500;
	letter-spacing: 3px;
	/* color:#347FDC; */
	color: #FF6700;
}
#myscroll a .intro button{
	width: 100px;
	height: 30px;
	background-color: white;
	border: 1px solid #444444;
	font-size: 14px;
	color:#333333;
}
#myscroll a .intro button a{
	width: 100px;
	height: 30px;
	background-color: white;
	border: 1px solid #444444;
	font-size: 14px;
	color:#333333;
}
#myscroll a .intro p {
	font-size: 15px;
	line-height: 20px;
	margin:15px auto;
	overflow: hidden;
}
#myscroll a .intro {
	bottom: -211px;
}
#myscroll a:hover .intro {
	bottom: 0px;
}
#mybtns {
	margin: 10px 0;
	width: 1100px;
	display: block;
	height: 42px;
	float: right;
	margin-right: 20px;
}
#mybtns a {
	width: 42px;
	height: 42px;
	display: block;
	float: right;
	margin-right: 1px;
	background-color: #c1c1c1;
	margin-left:10px;
}
#mybtns a:hover {
	background-color: #347fdc;
}
#mybtns a:hover, #myscroll, #mybtns a, #myscroll a:hover .intro, #myscroll a .intro, #myscroll #myscrollbox {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#mybtns #left {
	background-image: url(../img/btn-l.png);
}
#mybtns #right {
	background-image: url(../img/btn-r.png);
}

#kinMaxShow {
	visibility: hidden;
	width: 100%;
	height: 500px;
	overflow: hidden;
}