<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title>商品主页</title>
    <title>商品详情页2：商品图片带有放大镜效果</title>
    <meta name="author" content="xiaoma"/>
    <meta name="description" content="imitateWeb"/>
    <meta name="keywords" content="good,detail"/>
    <meta name="copyright" content="xiaoma所有"/>
    <!--打开网页，顶部标签页右侧显示图标-->
    <link rel="Shortcut Icon" href="img/horse.ico">
    <!--引入外部样式表-->
    <link rel="stylesheet" href="democss/main.css" th:href="@{/democss/main.css}"/>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="secmarket/css/index.css" th:href="@{/secmarket/css/index.css}"/>
    <link rel="stylesheet" href="secmarket/css/public.css" th:href="@{/secmarket/css/public.css}"/>
    <link rel="stylesheet" href="secmarket/css/js.css"  th:href="@{/secmarket/css/js.css}"/>
    <link rel="stylesheet" href="secmarket/css/reset.css" th:href="@{/secmarket/css/reset.css}"/>
    <link rel="stylesheet" href="secmarket/css/style.css" th:href="@{/secmarket/css/style.css}"/>
    <script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="secmarket/js/index.js"></script>
    <script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
	function woyaoliuyan(){
	$("#liuyan").fadeToggle("slow");
	}
</script>
   
</head>

<body>
<div id="header">
    <ul id="leftlist" class="list">
        <li><a th:href="@{/personal}" class="link" th:text="${session.user.name}">请登录 / 注册</a></li>
<!--		<li><a href="#" onclick=history.back() class="link">返回</a></li>-->
    </ul>
    <ul id="rightlist" class="list">

        <li><a href="#" class="link">举报卖家</a></li>
        <li class="haschild"><a  class="link">联系我们</a></li>

    </ul>
</div>

 <div id="content">
     <div id="shop">
        <a th:href="${ '/o-p-homepage/' + goodDetail.name}">
            <img src="/dyassets/img/bag.png" alt="">
            <div id="shopname" > 卖家：<span th:text="${goodDetail.name}"></span> </div>
        </a>
    </div>

    <div id="goodshow">
        <div id="imags" style="overflow: visible">
            <div class="imgbox">
                <!-- 商品大图 -->
                <a class="smallimg" href="#">
                    <img id="smallimg" alt="加载中..." src="/dyassets/img/good1.jpg">
                </a>
                <!--商品细节大图-->
                <div class="bigbox">
                    <img id="bimg" alt="加载中..." src="/dyassets/img/good1.jpg">
                </div>
                <!--大图上的显示区域遮罩层-->
                <div id="layer">
                </div>
            </div>
            <!--缩略图-->
            <div class="imgsbox">
<!--                <ul id="imgslist">-->
<!--                    <li class="imglist selected">-->
<!--                        &lt;!&ndash; 商品小图 &ndash;&gt;-->
<!--                        <img class="simg" alt="加载中..." src="/dyassets/img/good1.jpg">-->
<!--                    </li>-->
<!--                    <li class="imglist">-->
<!--                        &lt;!&ndash; 商品小图 &ndash;&gt;-->
<!--                        <img class="simg" alt="加载中..." src="/dyassets/img/good2.jpg">-->
<!--                    </li>-->
<!--                    <li class="imglist">-->
<!--                        &lt;!&ndash; 商品小图 &ndash;&gt;-->
<!--                        <img class="simg" alt="加载中..." src="/dyassets/img/good3.jpg">-->
<!--                    </li>-->
<!--                    <li class="imglist">-->
<!--                        &lt;!&ndash; 商品小图 &ndash;&gt;-->
<!--                        <img class="simg" alt="加载中..." src="/dyassets/img/good4.jpg">-->
<!--                    </li>-->
<!--                    <li class="imglist">-->
<!--                        &lt;!&ndash; 商品小图 &ndash;&gt;-->
<!--                        <img class="simg" alt="加载中..." src="/dyassets/img/good5.jpg">-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
        <div id="imgtxt">
            <h2 th:text="${goodDetail.title}">戴尔DELL灵越燃7000 R1605S 14.0英寸轻薄窄边框笔记本电脑(i5-7200U 8G 256GSSD FHD Win10)</h2>

            <div class="goodinfo" th:text="${goodDetail.describe}">【三边全景7mm微边框、77% 超高屏占比、金属材质】七代i5双核CPU、全高清显示屏。尊享2年上门服务！</div>
            <div class="goodinfo">价格&nbsp;&nbsp;&nbsp;&nbsp;<span class="price" id="jiage" th:text="${goodDetail.price}">300.00</span></div>
<!--            <div class="goodinfo">押金&nbsp;&nbsp;&nbsp;&nbsp;<span class="price" id="yajin">5300.00</span></div>-->
<!--            <div class="goodinfo">配送&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">大工西门面交</span></div>-->
<!--			<div class="goodinfo">能否砍价&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">否</span></div>-->
			<!-- <div class="goodinfo">留言&nbsp;&nbsp;&nbsp;&nbsp;<span class="price">空</span></div> -->
            <!-- <div class="goodinfo" id="size">尺码&nbsp;&nbsp;&nbsp;&nbsp;
                <p class="block">S</p>

                <p class="block">M</p>

                <p class="block">L</p></div>
            <div class="goodinfo" id="color">颜色&nbsp;&nbsp;&nbsp;&nbsp;<p class="block">粉色</p>

                <p class="block">白色</p>

                <p class="block">黑色</p></div>
            <div class="goodinfo">数量&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" min="1" id="num" value="1"/></div> -->
            <div class="goodinfo"><a href="#"><input type="button" value="联系我" class="btngood" id="btnbuy"/></a>&nbsp;&nbsp;&nbsp;&nbsp;<input
                    type="button" value="留言" class="btngood" id="btnadd" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="提交订单" class="btngood" id="tijiaodingdan" onclick=dingdan() />
                    <div id="liuyan" style="display:none"><form><textarea style="min-height: 80px;width: 253px;"></textarea>
                    	<br /><button type="submit" class="btngood" >提交</button></form></div>
            </div>
        </div>
<!--         <div id="recommend">-->
<!--            <h2>留言</h2>-->

<!--            <div id="rgood">-->
<!--                <ul>-->
<!--                    <li>-->
<!--						我想要！-->

<!--                    </li>-->

<!--                </ul>-->
<!--            </div>-->
<!--            <div id="arrow">-->
<!--                <p id="arrtop"></p>-->

<!--                <p id="arrbot"></p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div id="gooddetail">

    </div>


</div>
<!-- 推荐 -->
<div class="scrollpic">
    <p style="margin-left: 5px;font-size: 22px;font-weight: 200;line-height: 58px;color: #333;float: left;">为你推荐<!-- <span class="glyphicon glyphicon-gift" style="color: indianred;margin-left: 5px;"></span> --></p>
    <div id="mybtns"> <a href="javascript:;" id="right"></a><a href="javascript:;" id="left"></a>  </div>
    <div id="myscroll">
        <div id="myscrollbox">
            <ul>
                <li>
                    <a href="2">
                        <img src="/mainassets/img/timg.jpg" width="260" height="240">
                        <span class="intro">
									<h5>20.0</h5>
									<p style="font-size: 18px;font-weight: 600;">桌子</p>
									<img src="/mainassets/img/pic1.jpg" style="width: 50px;height: 50px;border-radius: 50%;"/>
									<p>wujinhui</p>
									<button>联系卖家</button>
								</span>
                    </a>
                </li>
                <li>
                    <a href="2">
                        <img src="/mainassets/img/timg.jpg" width="260" height="240">
                        <span class="intro">
									<h5>20.0</h5>
									<p style="font-size: 18px;font-weight: 600;">桌子</p>
									<img src="/mainassets/img/pic1.jpg" style="width: 50px;height: 50px;border-radius: 50%;"/>
									<p>wujinhui</p>
									<button>联系卖家</button>
								</span>
                    </a>
                </li>
                <li>
                    <a href="9">
                        <img src="/mainassets/img/timg.jpg" width="260" height="240">
                        <span class="intro">
									<h5>1000.0</h5>
									<p style="font-size: 18px;font-weight: 600;">塑料</p>
									<img src="/mainassets/img/pic1.jpg" style="width: 50px;height: 50px;border-radius: 50%;"/>
									<p>wujinhui</p>
									<button>联系卖家</button>
								</span>
                    </a>
                </li>
                <li>
                    <a href="8">
                        <img src="/mainassets/img/timg.jpg" width="260" height="240">
                        <span class="intro">
									<h5>998.0</h5>
									<p style="font-size: 18px;font-weight: 600;">小米</p>
									<img src="/mainassets/img/pic1.jpg" style="width: 50px;height: 50px;border-radius: 50%;"/>
									<p>wujinhui</p>
									<button>联系卖家</button>
								</span>
                    </a>
                </li>
                <li>
                    <a href="7">
                        <img src="/mainassets/img/timg.jpg" width="260" height="240">
                        <span class="intro">
									<h5>888.0</h5>
									<p style="font-size: 18px;font-weight: 600;">魅族</p>
									<img src="/mainassets/img/pic1.jpg" style="width: 50px;height: 50px;border-radius: 50%;"/>
									<p>工具人3号</p>
									<button>联系卖家</button>
								</span>
                    </a>
                </li>
                <li>
                    <a href="6">
                        <img src="/mainassets/img/timg.jpg" width="260" height="240">
                        <span class="intro">
									<h5>1024.0</h5>
									<p style="font-size: 18px;font-weight: 600;">华为</p>
									<img src="/mainassets/img/pic1.jpg" style="width: 50px;height: 50px;border-radius: 50%;"/>
									<p>工具人3号</p>
									<button>联系卖家</button>
								</span>
                    </a>
                </li>
                <li>
                    <a href="5">
                        <img src="/mainassets/img/timg.jpg" width="260" height="240">
                        <span class="intro">
									<h5>10.0</h5>
									<p style="font-size: 18px;font-weight: 600;">饮水机</p>
									<img src="/mainassets/img/pic1.jpg" style="width: 50px;height: 50px;border-radius: 50%;"/>
									<p>wujinhui</p>
									<button>联系卖家</button>
								</span>
                    </a>
                </li>
                <li>
                    <a href="4">
                        <img src="/mainassets/img/timg.jpg" width="260" height="240">
                        <span class="intro">
									<h5>3.5</h5>
									<p style="font-size: 18px;font-weight: 600;">锅</p>
									<img src="/mainassets/img/pic1.jpg" style="width: 50px;height: 50px;border-radius: 50%;"/>
									<p>工具人3号</p>
									<button>联系卖家</button>
								</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 底部 -->
<div class="footer">
    <div class="footer_outer">
        <div class="footer_outer_list" style="margin-left: 7%;">
            <p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">跑腿代购</p>
            <p>发布需求</p>
            <p>接单中心</p>
            <p>配送员认证</p>
            <p>个人中心</p>
        </div>
        <div class="footer_outer_list">
            <p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">二手市场</p>
            <p>分类</p>
            <p>我的订单</p>
            <p>我的收藏</p>
            <p>个人中心</p>
        </div>
        <div class="footer_outer_list">
            <p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">个人信息</p>
            <p>信息认证</p>
            <p>信息修改</p>
            <p>账号注销</p>
            <p>个人中心</p>
        </div>

        <div class="footer_outer_list">
            <p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">订单中心</p>
            <p>我的订单</p>
            <p>我的物品</p>
            <p>我的接单</p>
            <p>个人中心</p>
        </div>
        <div class="footer_outer_list">
            <p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">关注微信</p>
            <img src="/secmarket/img/007.png"/>
        </div>
    </div>
</div>




<!--显示高清大图-->
<div id="showbigimg"><img src="img/good1.jpg" id="bigimg"></div>
<script src="js/publicgood.js"></script>
<script src="js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/mejqzoom.js"></script>
<script>
	function dingdan(){
		var a=confirm("现在你需要交"+jiage.innerText+"元的使用费和"+yajin.innerText+"的租金");
		if(a==1){
		myWindow=window.open();
		var zongjia=new Number(jiage.innerText)+Number(yajin.innerText);
	myWindow.document.write("现在支付"+zongjia+"元");}
	}
</script>

</body>
</html>