<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>发布商品</title>
		<link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="secmarket/css/index.css" th:href="@{/secmarket/css/index.css}"/>
		<link rel="stylesheet" href="secmarket/css/public.css" th:href="@{/secmarket/css/public.css}"/>
		<link rel="stylesheet" href="secmarket/css/indent.css" th:href="@{/secmarket/css/indent.css}">
		<script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="headmenu">
			<div class="head">
				<ul style="margin-left: 11.5%">
					<li style="width: 4%;"><a href="#" class="li-1">登陆</a></li>
					<li style="width: 4%;"><a href="#" class="li-1">注册</a></li>
				</ul>
				<div class="searchbar">
					<input type="text" placeholder="搜索..."/>
				</div>
				<ul style="margin-left:65%;">
					<li>二手</li>
					<li>跑腿</li>
					<li class="submenu">
						<span>收藏夹</span>
						<ul>
							<li><a href="#">收藏的宝贝</a></li>
							<li><a href="#">收藏的店家</a></li>
						</ul>
					</li>
					<li class="submenu">
						<span>联系客服</span>
						<ul>
							<li><a href="#">消费者客服</a></li>
							<li><a href="#">卖家客服</a></li>
						</ul>
					</li>
					<li class="submenu">
						<span>更多</span>
						<ul>
							<li><a href="#">服务中心</a></li>
							<li><a href="#">问题反馈</a></li>
							<li><a href="#">退出</a></li>
						</ul>
					</li>
					<li>消息</li>
				</ul>
			</div>
		</div>
		<hr style="height: 1px;background-color:#C1C1C1;margin-top: -5px;"/>
		<div class="box">
			<div class="box-msg">
				<img src="secmarket/img/001.jpg" />
				<div class="box-msg-right">
					<span>测试标题</span>
					<p style="font-size: 18px;color: #262626;">测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容测试内容</p>
					<p>商品类型</p>
					<p style="margin-top: 2px;">￥100</p>
					<p style="margin-top: 2px;">x&nbsp;1</p>
					
					<div style="float: right;">
						<p>共&nbsp;1&nbsp;件商品，合计&nbsp;￥10&nbsp;元</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div class="footer_outer">
				<div class="footer_outer_list" style="margin-left: 7%;">
					<p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">跑腿代购</p>
					<p>发布需求</p>
					<p>接单中心</p>
					<p>配送员认证</p>
					<p>个人中心</p>
				</div>
				<div class="footer_outer_list">
					<p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">二手市场</p>
					<p>分类</p>
					<p>我的订单</p>
					<p>我的收藏</p>
					<p>个人中心</p>
				</div>
				<div class="footer_outer_list">
					<p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">个人信息</p>
					<p>信息认证</p>
					<p>信息修改</p>
					<p>账号注销</p>
					<p>个人中心</p>
				</div>
		
				<div class="footer_outer_list">
					<p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">订单中心</p>
					<p>我的订单</p>
					<p>我的物品</p>
					<p>我的接单</p>
					<p>个人中心</p>
				</div>
				<div class="footer_outer_list">
					<p style="margin-top: 20px;font-size: 16px;color: #333333;letter-spacing: 1px;font-weight: 600;">关注微信</p>
					<img src="secmarket/img/007.png" th:src="@{/secmarket/img/007.png}"/>
				</div>
			</div>
		</div>
		
	</body>
	<script>
		function readFile(obj){ 
		   var file = obj.files[0];  
		   //判断类型是不是图片 
		    if(!/image\/\w+/.test(file.type)){ 
		      alert("请确保文件为图像类型"); 
		      return false; 
		    } 
		    var reader = new FileReader(); 
		    reader.readAsDataURL(file); 
		    reader.onload = function(e){
		     dealImage(this.result,{width:200},function(base){
		     　　　　document.getElementById('img').setAttribute('src',base)
		     });
		    } 
		  } 
		  
		  function dealImage(path, obj, callback){
		   var img = new Image();
		   img.src = path;
		   img.onload = function(){
		   var that = this;
		   // 默认按比例压缩
		   var w = that.width,
		   h = that.height,
		   scale = w / h;
		   w = obj.width || w;
		   h = obj.height || (w / scale);
		   var quality = 0.7; // 默认图片质量为0.7
		   //生成canvas
		   var canvas = document.createElement('canvas');
		   var ctx = canvas.getContext('2d');
		   // 创建属性节点
		   var anw = document.createAttribute("width");
		   anw.nodeValue = w;
		   var anh = document.createAttribute("height");
		   anh.nodeValue = h;
		   canvas.setAttributeNode(anw);
		   canvas.setAttributeNode(anh);
		   ctx.drawImage(that, 0, 0, w, h);
		   // 图像质量
		   if(obj.quality && obj.quality <= 1 && obj.quality > 0){
		   quality = obj.quality;
		   }
		   // quality值越小，所绘制出的图像越模糊
		   var base64 = canvas.toDataURL('image/jpeg', quality );
		   // 回调函数返回base64的值
		   callback(base64);
		   }
		  }
	</script>
</html>
