<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript"  th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <title>我的任务</title>
    <script type="text/javascript" src="ncassets/js/index.js" th:src="@{/ncassets/js/index.js}"></script>
    <script type="text/javascript" src="ncassets/js/bootstrap.js" th:src="@{/ncassets/js/bootstrap.js}"></script>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="ncassets/dist/css/bootstrap.min.css" th:href="@{/ncassets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="ncassets/css/reset.css" th:href="@{/ncassets/css/reset.css}">
    <link rel="stylesheet" href="ncassets/css/style.css" th:href="@{/ncassets/css/style.css}">
    <link rel="stylesheet" type="text/css" href="ncassets/css/user.css" th:href="@{/ncassets/css/user.css}"/>
    <!--  DataTable  -->
    <link rel="stylesheet" type="text/css" th:href="@{/ncassets/datatables.net-bs/css/dataTables.bootstrap.min.css}"/>
    <script type="text/javascript"  th:src="@{/ncassets/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/ncassets/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
</head>
<body>
<div th:include="pc-model :: site-topbar"></div>
<div th:include="pc-model :: site-header"></div>
<div th:include="pc-model :: breadcrumb-task"></div>
<div class="page-main user-main">
    <div class="container clearfix">
        <div class="row">
            <div th:include="pc-model :: span4"></div>
            <div th:include="pc-model :: span6-task"></div>
        </div>
    </div>
</div>
<div th:include="pc-model :: footer"></div>
<script>
    $(".dataTable").DataTable({
        "paging":true,
        "info":false,
        "lengthChange":false,
        "ordering":false,
        "processing":true,
        "searching":false,
        "pageLength": 5,
        "lengthMenu": [ 5,10, 25, 50, 75, 100 ],
    });
</script>
</body>
<script>
    var my = document.getElementsByClassName("my-task");
    var other = document.getElementsByClassName("o-task");
    function allTask() {
        for(var i=0; i<my.length; i++){
            my[i].hidden=false;
        }
        for(var i=0; i<other.length; i++){
            other[i].hidden=false;
        }
    }
    function myTask() {
        for(var i=0; i<my.length; i++){
            my[i].hidden=false;
        }
        for(var i=0; i<other.length; i++){
            other[i].hidden=true;
        }
    }
    function oTask() {
        for(var i=0; i<my.length; i++){
            my[i].hidden=true;
        }
        for(var i=0; i<other.length; i++){
            other[i].hidden=false;
        }
    }
</script>
</html>