<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript"  th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <meta charset="UTF-8">
    <title>个人信息</title>
    <script type="text/javascript" src="ncassets/js/index.js" th:src="@{/ncassets/js/index.js}"></script>
    <script type="text/javascript" src="ncassets/js/bootstrap.js" th:src="@{/ncassets/js/bootstrap.js}"></script>

    <!-- bootbox code -->
    <script type="text/javascript" th:src="@{/ncassets/bootbox/bootbox.min.js}"></script>
    <script type="text/javascript" th:src="@{/ncassets/bootbox/bootbox.locales.min.js}"></script>
    <link rel="stylesheet" href="ncassets/dist/css/bootstrap.min.css" th:href="@{/ncassets/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="ncassets/css/reset.css" th:href="@{/ncassets/css/reset.css}">
    <link rel="stylesheet" href="ncassets/css/style.css" th:href="@{/ncassets/css/style.css}">
    <link rel="stylesheet" type="text/css" href="ncassets/css/user.css" th:href="@{/ncassets/css/user.css}"/>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!--  layui  -->
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
</head>
<body>
<div th:include="pc-model :: site-topbar"></div>
<div th:include="pc-model :: site-header"></div>
<div th:include="pc-model :: breadcrumb-info"></div>
<div class="page-main user-main">
    <div class="container clearfix">
        <div class="row">
            <div th:include="pc-model :: span4"></div>
            <div th:include="pc-model :: span6-perInfo"></div>

        </div>
    </div>
</div>
<div th:include="pc-model :: footer"></div>
</body>
<script type="text/javascript">

    function uploadImg() {
        var img = document.getElementById("uploadImg");
        if (img.hidden == true){
            img.hidden = false;
        }
        else{
            img.hidden = true;
        }
    }
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: '/upload/' //上传接口
            ,done: function(res){
                //上传完毕回调
            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
    function edit() {
        var input = document.getElementsByTagName("input");
        // input[2].disabled=false;
        input[3].disabled=false;
        input[4].disabled=false;
        input[5].disabled=false;
        input[6].disabled=false;
    }
    $(".reset").click("on",function () {
        var input = document.getElementsByTagName("input");
        // input[0].setAttribute("value","");
        input[1].setAttribute("value","");
        input[2].setAttribute("value","");
    })
    function submit_info() {
        var flag = false;
        var pwd = document.getElementById("pwd").value;
        if(pwd.length>=8 && pwd.length<=16){
            flag = confirm("Are you sure?")
        }else {
            bootbox.alert("密码长度必须在8~16之间！");
        }

        return flag;
    }
    function editImg() {

        layui.use('layer', function(){
            var layer = layui.layer;

            layer.open({
                type: 1,
                title: "修改头像",
                area: ['500px', '300px'],
                content: '<form th:href="@{}">' +
                    '<input type="file" name="file-demo" class="layui-upload-file">'+
                    '<input type="submit">'+
                    '</form>'

            });
        });
    }
</script>
</html>

