<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title></title><link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="mainver/css/public.css" th:href="@{/mainver/css/public.css}"/>
		<link rel="stylesheet" href="mainver/css/index.css" th:href="@{/mainver/css/index.css}"/>
		<link rel="stylesheet" href="mainver/css/demo.css" th:href="@{/mainver/css/dmeo.css}">
		<link rel="stylesheet" href="mainver/css/now-ui-kit.css" th:href="@{/mainver/css/now-ui-kit.css}"/>
		<script src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="//cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body style="background-color: #87CEEB;">
		<div class="page-header" filter-color="orange">
			<!--<div class="page-header-image" style="background-image:url(assets/img/bg.png)"></div>-->
			<div class="container">
				<div class="col-md-4 content-center">
					<div class="card card-login card-plain" style="max-width: 360px;">
						<form class="form" action="/confirmEmail" method="post">
							<div class="content">
								<div>
									<p style="font-size: 20px;margin-bottom: 10px;" th:text="${email}">111111111</p>
									<p style="margin-bottom: 10px;font-size: 20px;" >我们已将验证码发送至您的邮箱</p>
									<input type="text" placeholder="请输入..." style="width: 360px;height: 46px;padding: 4px;border: 3px solid #E3E3E3;color: #444444;font-size: 16px;" id="email1"/>
									<input id="validate" th:value="${validate}" hidden/>
									<p style="margin-top: 10px;font-size: 16px;" id="test">请输入六位数验证码</p>
								</div>
							</div>
								
							<div class="footer text-center">
								<input type="submit" id="submit" class="btn btn-primary btn-round btn-lg btn-block" value="注册" ></input>
							</div>
							<div class="pull-left">
								<h6>
		                        <a href="index.html" th:href="@{/sign_in.html}" class="link">Sign In</a>
		                    </h6>
							</div>
							<div class="pull-right">
								<h6>
		                        <a href="#pablo" class="link">Need Help?</a>
		                    </h6>
							</div>
						</form>
					</div>
				</div>
			</div>
			
		</div>
	</body>
	<script src="mainver/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="mainver/js/core/popper.min.js" type="text/javascript"></script>
	<script src="mainverb/js/core/bootstrap.min.js" type="text/javascript"></script>
	
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script src="mainver/js/plugins/bootstrap-switch.js"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script src="mainver/js/plugins/nouislider.min.js" type="text/javascript"></script>
	<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
	<script src="mainver/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
	<!-- Share Library etc -->
	<script src="mainver/js/plugins/jquery.sharrre.js" type="text/javascript"></script>
	<script src="mainver/js/sign-up.js"  type="text/javascript"></script>
	<script>
		$(function(){
			$("#email1").blur(function(){
				if($("#email1").val()!=$("#validate").val()){
									$("#test").html("验证码不符，请重新输入");
									$("#submit").attr('disabled','true')
								}
								else{
									$("#test").html("验证通过");
									$("#submit").removeAttribute('disabled');
								}
			})
		})
	</script>
</html>
