
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
li{
	font-size:1.5em;
	line-height: 29px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/****** Main ********/

/*******for 箭头*************/
.scroll {
	position:absolute;

	display:inline-block;
	position: absolute;bottom: 80px;;
	text-align:center;


}
.scroll:hover {
	text-decoration:none;
}

.scroll:after {
	
	width:40px;
	height:40px;
	position:absolute;
	margin:auto;
	top:50px;
	right:0;
	bottom:0;
	left:0;
	-webkit-animation:3s arrow infinite ease;
	animation:3s arrow infinite ease;
}

.scroll:after {
	border-right:2px solid #FFF;
	border-bottom:2px solid #FFF;
	-ms-transform:rotate(0deg);
	-webkit-transform:rotate(1deg);
	transform:rotate(1deg);
	
}

@keyframes arrow {
	0%,100% {
		top:50px;
	}
	50% {
		top:80px;
	}
}
/*******end***********/


#background {
		position: fixed;
		top: 0;
		left: 0;
opacity: 10%;
		z-index: -100;
	}
.container{
	margin-left: auto;
}
.tubiao{
	width:200px;
	height:200px;
	float:left;
	border-radius: 25px;
margin-left:3%;
	
}
.retract{
	border-radius: 25px;
	width:200px;
	height:200px;

}

#ershou{
	background-color: aquamarine;	
}
#zulin {
	background-color: yellow;	
}
